<div class="calender-container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button
          name="Previous Button"
          [attr.aria-label]="'Previous Button'"
          mat-raised-button
          color="primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          [disabled]="prevBtnDisabled"
        >
          Previous
        </button>
        <button
          name="Today Button"
          [attr.aria-label]="'Today Button'"
          mat-raised-button
          color="basic"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          name="Next Button"
          [attr.aria-label]="'Next Button'"
          mat-raised-button
          color="primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          [disabled]="nextBtnDisabled"
        >
          Next
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <span class="display-5">
        {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
      </span>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button
          name="Month Select Button"
          [attr.aria-label]="'Month Select Button'"
          mat-raised-button
          [color]="view === CalendarView.Month ? 'basic' : 'primary'"
          (click)="setView(CalendarView.Month)"
        >
          Month
        </button>
        <button
          name="Week Select Button"
          [attr.aria-label]="'Week Select Button'"
          mat-raised-button
          [color]="view === CalendarView.Week ? 'basic' : 'primary'"
          (click)="setView(CalendarView.Week)"
        >
          Week
        </button>
        <button
          name="Day Select Button"
          [attr.aria-label]="'Day Select Button'"
          mat-raised-button
          [color]="view === CalendarView.Day ? 'basic' : 'primary'"
          (click)="setView(CalendarView.Day)"
        >
          Day
        </button>
      </div>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (beforeViewRender)="beforeMonthViewRender($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [hourSegments]="1"
      [hourSegmentHeight]="segmentHeight"
      [minimumEventHeight]="segmentHeight"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (dayHeaderClicked)="
        clickedDate = $event.day.date; openCreateEventDialog()
      "
      (hourSegmentClicked)="clickedDate = $event.date; openCreateEventDialog()"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [hourSegmentHeight]="segmentHeight"
      [minimumEventHeight]="segmentHeight"
      [hourSegments]="1"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (hourSegmentClicked)="clickedDate = $event.date; openCreateEventDialog()"
    >
    </mwl-calendar-day-view>
  </div>
</div>
