.notification-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  span {
    color: white;
  }

  img {
    width: 250px;
  }
}
