<div class="login-container">
  <div class="container-fluid min-vh-100">
    <app-title-word [content]="'Instructors Login'"></app-title-word>

    <mat-card class="mat-elevation-z9">
      <div class="image-container">
        <img mat-card-image [src]="imageInfo.url" [alt]="imageInfo.alt" />
      </div>

      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="login()">
          <!-- Email/ID -->
          <mat-form-field appearance="fill">
            <mat-label>Instructor ID</mat-label>
            <mat-icon matPrefix class="mr-2">person</mat-icon>
            <input matInput formControlName="userId" />
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix class="mr-2">lock</mat-icon>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <a
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </a>
          </mat-form-field>

          <mat-card-actions>
            <button class="hidden-button"></button>
            <button mat-raised-button color="accent">Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
