<div
  class="container-fit"
  appBackgroundColor
  [currentColor]="backgroundColor"
  style="color: white"
>
  <div class="image-container"><img [src]="imageUrl" [alt]="imageAlt" /></div>

  <div class="display-7 p-3" *ngIf="action === bookingActions.createAction">
    Step 1
  </div>
  <div class="display-4 pb-3">{{ action | titlecase }} Booking</div>

  <div mat-dialog-content>
    <form [formGroup]="editForm" (ngSubmit)="closeDialog(true)">
      <div class="booking-time-container">
        <div class="input-item-{{ action }}">
          <img [src]="calenderUrl" />

          <ng-container *ngIf="action !== bookingActions.deleteAction">
            <mat-form-field color="accent" appearance="fill">
              <mat-label>Enter Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="bookingDate"
                readonly
                [min]="minDate"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="action == bookingActions.deleteAction">
            <span class="display-7 pb-3 w-100">
              {{ data.startTime | date: "dd MMM (EEEE)" }}
            </span>
          </ng-container>
        </div>

        <div class="input-item-{{ action }}">
          <img [src]="clockUrl" />
          <ng-container *ngIf="action !== bookingActions.deleteAction">
            <mat-label>Enter Time</mat-label>

            <div class="time-container">
              <mat-form-field>
                <mat-label>Start Time</mat-label>
                <input
                  matInput
                  aria-label="Time Start"
                  [ngxTimepicker]="appendedToInput1"
                  formControlName="bookingStartTime"
                  readonly
                />
              </mat-form-field>

              <ngx-material-timepicker
                [timepickerClass]="colorMode"
                #appendedToInput1
                [hoursOnly]="true"
                (opened)="disableActions()"
                (closed)="enableActions()"
                [appendToInput]="true"
                [enableKeyboardInput]="true"
              ></ngx-material-timepicker>
            </div>

            <div class="time-container">
              <mat-form-field>
                <mat-label>End Time</mat-label>
                <input
                  matInput
                  aria-label="Time End"
                  [ngxTimepicker]="appendedToInput"
                  formControlName="bookingEndTime"
                  readonly
                />
              </mat-form-field>
              <ngx-material-timepicker
                [timepickerClass]="colorMode"
                #appendedToInput
                [hoursOnly]="true"
                (opened)="disableActions()"
                (closed)="enableActions()"
                [appendToInput]="true"
                [enableKeyboardInput]="true"
              ></ngx-material-timepicker>
            </div>
          </ng-container>

          <ng-container *ngIf="action == bookingActions.deleteAction">
            <span class="display-7">
              {{ data.startTime | date: "HH00" }} -
              {{ data.endTime | date: "HH00" }}
            </span></ng-container
          >
        </div>
      </div>
    </form>
  </div>

  <mat-dialog-actions align="center">
    <button
      mat-raised-button
      mat-dialog-close
      (click)="closeDialog(false)"
      [disabled]="isCloseDisabled"
      name="Cancel Button"
      [attr.aria-label]="'Cancel Button'"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      (click)="closeDialog(true)"
      cdkFocusInitial
      [disabled]="isCloseDisabled"
      name="Confirm Button"
      [attr.aria-label]="'Confirm Button'"
    >
      Confirm
    </button>
  </mat-dialog-actions>
</div>
