<div class="container-fluid min-vh-100">
  <app-title-word content="About Us"></app-title-word>
  <div class="row">
    <div class="col-6 left-side">
      <div class="display-5 pb-3">Digitizing Bookings</div>

      <div>
        <span>
          This WebApp is built to introduce Digital Bookings to Curtin
          University Campus Labs. The minimum viable product is deployed
          currently and will allow both students and admin (which includes
          Professors, Instructors and Management Staff) to book the CCNA lab
          easily through this WebApp. Students can easily book the lab for their
          learning purposes while the Admin can make changes if necessary by
          either Editing the current bookings or
        </span>
      </div>
    </div>
    <div class="col-6 right-side">
      <div class="image-container">
        <img [src]="aboutUsImageUrl" alt="Booking App Icon Image" />
      </div>

      <div>
        <span>
          By simply Deleting the Bookings, this results in automated emails to
          the affected parties. The vision of the WebApp is to incorporate
          Booking for all Labs on Campus and to eventually become a platform for
          students and faculty to check their respective university schedule.
        </span>
      </div>
    </div>
  </div>
</div>
